[class*="col"]{
    border: solid 1px black
}


header{
    background-color: whitesmoke;
    padding: 10px 0;
}

.colorw{
    background-color: white;
}

.colorg{
    background-color: rgb(213, 210, 210);
}

.colorb{
    background-color: black;
}

.view{
    height: 94vh;
}

.colortxtw{
    color: white;
}